.todoResults {
 display: flex;
 justify-content: center;
 table{
    margin-top: 8px;
    border-collapse: collapse;
    border: 1px solid #ccc; 
    min-Width: 360px;
    th {
        font-size: 25px;
        border: 1px solid #ccc
    }
    tbody {
        td {
            display: flex;
            justify-content: space-between;
            border: 1px solid red;
            .todoText{
                align-self: center
            }
            button {
                align-self: center;
                justify-content: flex-end;
                border: none;
                background-color: none;
                margin: 0;
                padding: 0;
                padding-top: 6px
                
            }
    }


    }


}
}
