.nav {
    display: flex;
    flex: 1;
    border: 1px solid #ccc;
    height: 40px;
    justify-content: center;
        a{
            margin: 0 8px 0 8px;
            align-self: center;
        }
}